
.DS_Store
.idea
*.sh linguist-language=go
go/
*.toml
*.lock
goprojects/bin/*
goprojects/include/*
goprojects/lib/*
goprojects/pkg/*
goprojects/src/github.com/*
goprojects/src/golang.org/*
goprojects/src/google.golang.org/*

